<header>
    <div class="container">
        {% include "logo.njk" %}

        <nav>
            <ul>
                <li>
                    <a href="{{ '/search/' | url }}">Search</a>
                </li>
                <li>
                    <a href="https://mapspeople.com/support">Support</a>
                </li>
                <li>
                    <a href="https://github.com/mapsindoors">GitHub</a>
                </li>
                <li>
                    <a href="https://blog.mapspeople.com/tag/product">Product Blog</a>
                </li>
                <li>
                    <a href="https://cms.mapsindoors.com">CMS</a>
                </li>
            </ul>
        </nav>
    </div>
</header>