@use '../../node_modules/normalize.css/normalize.css';

@use '../../node_modules/@mapsindoors/midt/background-color';
@use '../../node_modules/@mapsindoors/midt/border';
@use '../../node_modules/@mapsindoors/midt/color';
@use '../../node_modules/@mapsindoors/midt/elevation';
@use '../../node_modules/@mapsindoors/midt/font';
@use '../../node_modules/@mapsindoors/midt/icons';
@use '../../node_modules/@mapsindoors/midt/margin';
@use '../../node_modules/@mapsindoors/midt/opacity';
@use '../../node_modules/@mapsindoors/midt/padding';
@use '../../node_modules/@mapsindoors/midt/sizing';
@use '../../node_modules/@mapsindoors/midt/transitions';
@use '../../node_modules/@mapsindoors/midt/z-index';

@use '../../node_modules/@mapsindoors/midt/build/scss/variables'as *;

:root {
    background: $color-green-90;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    @include font.family(sans-serif);
    @include font.size(medium);
    @include font.weight(medium);
    @include font.leading(x-large);
    @include font.tracking(medium);
    @include font.color(base);
    /* Controlling overflow of long urls in particular */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

p,
ul,
ol,
blockquote {
    @include font.measure(large);
}

blockquote {
    font-style: italic;
    @include border.width;
    @include border.style;
    @include border.left;
    @include border.top(none);
    @include border.right(none);
    @include border.bottom(none);
    @include border.bronze(30);
    @include background-color.bronze(10);
    @include margin.left(none);
    @include padding.left(small);
    border-radius: 0 $rounding-large $rounding-large 0;

    p,
    ol {
        display: inline-block;
        @include margin.right(medium);
    }
}

a {
    text-decoration: none;
    @include color.blue(60);

    &:hover {
        text-decoration: underline;
        @include color.blue(70);
    }

    &:active {
        @include color.magenta(60);
    }
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    @include padding.horizontal(large);

}

header {
    height: 80px;
    padding-left: 280px; // Sidebar width
    background-image: linear-gradient(to bottom, $color-green-90, $color-green-100);

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .logo {
            @include padding.horizontal(large);
            position: absolute;
            left: 0;

            path {
                fill: white;
            }
        }

        nav li {
            float: left;

            a {
                @include padding.horizontal(medium);
                @include padding.vertical(x-large);
                @include color.white(base);

                &:hover {
                    text-decoration: underline;
                    @include color.gray(20);
                }

                &:active {
                    @include color.gray(30);
                }

                &:visited {
                    @include color.white(base);
                }
            }
        }
    }
}

.sidebar {
    width: 280px;
    height: 100vh;
    display: block;
    position: sticky;
    top: 0;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, $color-green-90, $color-green-100);
    flex-shrink: 0;

    a,
    .sidebar-nav li a,
    .nav__header a {
        @include color.white(base);
    }

    nav {
        @include padding.horizontal(large);

        .nav__header {
            @include font.weight(large);
            @include font.size(x-large);
        }

        hr {
            @include margin.vertical(medium);
            border-top: 1px solid $color-gray-50;
        }
    }
}


main {
    width: 100%;
    background-color: #fff;

    .container {
        @include margin.top(x-large);
        @include margin.bottom(xxxx-large);

        .article-grid-container {
            max-width: none;
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: minmax(500px, 720px) minmax(220px, 1fr);
            grid-template-areas:
                "top right-sidebar"
                "bottom right-sidebar";
            column-gap: 40px;

            .article-grid-head {
                grid-area: top;
            }

            .article-grid-toc {
                grid-area: right-sidebar;
            }

            .article-grid-body {
                grid-area: bottom;
            }
        }


    }
}



// Front page

.front {
    background-image: linear-gradient(to bottom right, #f4f0e8, #d8e8e0);
    color: #006440;

    .front-content {
        ul {
            list-style: none;
            padding: 0;
            @include margin.bottom(medium);

            li {
                display: inline;
                @include margin.right(medium);
            }

            text-align: center;
        }

        a.front-button {
            @include font.size(x-large);
            @include padding.vertical(medium);
            @include padding.horizontal(large);
            @include color.gray(100);
            @include border.radius(large);
            @include border.width(large);
            @include border.style(solid);
            @include border.green(60);
            @include background-color.white(base);
            @include font.weight(large);
            @include margin.vertical(medium);
            box-shadow: 0px 16px 32px rgba(0, 120, 72, 0.16);
            min-width: 180px;
            display: inline-block;
            text-align: center;

            &:hover {
                @include background-color.gray(10);
                text-decoration: none;
            }
        }

        display: grid;
        place-items: center;
        min-height: 90vh;
    }

    .headline {
        @include font.family(raleway);
        @include font.size(xxxx-large);
        @include font.leading(xxxx-large);
        @include font.weight(small);
        max-width: 38ch;
    }

    .subheadline {
        @include font.size(xx-large);
        @include font.leading(xxx-large);
        @include font.weight(small);
        @include margin.vertical(xxx-large);
        @include margin.bottom(xx-large);
        font-style: italic;
    }
}



.article-grid-head {
    @include padding.top(x-large);
}

.article-grid-toc-content {
    @include padding.top(xxx-large);
    position: sticky;
    top: 0;

    h4 {
        margin-top: 0;
        padding-bottom: .3em;
        border-bottom: 1px solid #eaecef;
        @include font.size(medium);
        @include font.weight(x-large);
    }

    nav ol {
        @include font.size(small);
        line-height: 1.25;
    }
}

nav {
    box-sizing: border-box;

    ul,
    ol,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul,
    ol {
        @include font.size(medium);
        @include font.leading(x-large);

        li {
            @include margin.top(x-small);

            ul {
                @include font.weight(medium);
                @include font.size(medium);
                @include margin.vertical(small);
                @include margin.left(medium);

                li {
                    @include margin.top(x-small);
                    @include font.size(medium);
                }
            }
        }
    }

    .active>a {
        // @include background-color.blue(10);
        // @include padding.horizontal(small);
        // @include padding.vertical(x-small);
        // @include border.radius(medium);
        @include font.weight(large);
        // margin-left: -12px;

        // ul {
        //   font-style: normal;
        // }

        &::before {
            content: "• ";
            margin-left: -12px;
        }
    }
}

// Headlines

h1 {
    @include font.size(xx-large);
    @include font.leading(xx-large);
    @include font.weight(large);
    @include margin.top(medium);
    @include margin.bottom(large);

    a {
        @include font.color(base);

        &:visited {
            @include font.color(base);
        }

        &:hover {
            @include color.blue(60);
        }
    }
}

h2 {
    @include font.size(x-large);
    @include font.leading(x-large);
    @include font.weight(x-large);
    @include margin.top(x-large);
    @include margin.bottom(large);
}

h3 {
    @include font.size(large);
    @include font.leading(large);
    @include font.weight(x-large);
    @include margin.top(x-large);
    @include margin.bottom(large);
}

h4 {
    @include font.size(medium);
    @include font.leading(medium);
    @include font.weight(xx-large);
    @include margin.top(large);
    @include margin.bottom(medium);
}

h5 {
    @include font.size(small);
    @include font.weight(xx-large);
    @include margin.top(medium);
    @include margin.bottom(small);
}

h6 {
    @include font.size(x-small);
    @include font.weight(xx-large);
    @include font.tracking(x-large);
    @include margin.top(medium);
    @include margin.bottom(small);
    text-transform: uppercase;
}

// Code highlight styling. .hljs is a highlight.js-specific class.

code {
    font-size: 0.95rem;
}

p code {
    @include padding.vertical(xxx-small);
    @include padding.horizontal(x-small);
    @include border.radius(medium);
    @include background-color.gray(10);
    @include color.gray(90);
}

pre code {
    @include font.family(monospace);
    @include border.radius(medium);

    &.hljs {
        @include padding.all(medium);
        @include border.gray(40);
        @include border.style(solid);
        @include border.width(medium);
    }
}


footer {
    background-color: #fafbfc;

    .row {
        display: flex;

        .column {
            width: calc(100% / 3);
            margin-right: 16px;
        }
    }
}

// Breadcrumb

ol.breadcrumb {
    @include padding.left(none);
    @include margin.top(none);

    .item {
        a {
            @include margin.right(small);
            @include font.weight(large);
            @include font.size(medium);
        }
    }

    .item:not(:first-of-type) {
        @include margin.left(xx-small);
    }

    .item:not(:last-of-type)::after {
        content: "›";
    }
}

p.time {
    @include color.gray(60);
    @include font.size(x-small);
    @include font.weight(xx-large);
    @include font.tracking(x-large);
    @include margin.bottom(large);
    margin-top: -12px;
    text-transform: uppercase;
}

main img {
    max-width: 100%;
}

// Table styles

table {
    @include margin.top(small);
    @include margin.bottom(medium);
    display: inline-block;
    text-align: left;
    border: 1px solid $color-gray-40;
    border-top: none;
    border-collapse: collapse;

    thead {
        @include font.size(large);
        @include background-color.gray(80);

        th {
            @include padding.all(small);
            @include color.white(base);
        }
    }

    tbody tr:nth-child(odd) {
        @include background-color.gray(10);
    }

    td {
        @include padding.horizontal(small);
        @include padding.vertical(small);
        min-width: 72px;
        border-left: 1px solid $color-gray-30;
        vertical-align: baseline;
        word-break: break-word;

        &:first-child {
            border-left: none;
        }
    }
}

// Seach
.search-form {
    @include margin.bottom(x-large);
    display: flex;

    // Block element interaction while search index is loading
    &--blocked {
        opacity: 0.5;
        pointer-events: none;
    }

    input {
        @include margin.right();
        @include border.radius(medium);
        @include border.style(solid);
        @include border.gray(60);
        @include border.width();
        @include padding.left(x-small);
        @include font.size(large);
        width: 320px;
        height: 44px;

        &:focus {
            @include border.blue(60);
        }
    }
}

.search-result {
    @include margin.bottom(large);

    a#sr-link {
        @include font.size(x-large);
        @include font.weight(large);
    }

    p {
        @include color.green(50);
        @include margin.top(xxx-small);
        @include font.size(small);
    }
}